.text-bold-italic {
  font-weight: bold;
  font-style: italic;
}
.align-right {
  text-align: right;
}
.content-container ul {
  padding-left: 50px;
}
.signature {
  width: 80%;
  max-width: 550px;
  grid-area: signature;
  align-self: center;
}
.content-container {
  grid-area: contentContainer;
}
.my-image {
  grid-area: myImage;
  position: sticky;
  top: 0;
}
main {
  width: 100%;
  max-height: 100vh;
  display: grid;
  justify-content: center;
  grid-template-columns: auto auto;
  grid-template-rows: 30% 70%;
  grid-template-areas:
    "signature myImage"
    "contentContainer myImage";
  overflow-y: auto;
}
main .content-container h2 {
  text-align: center;
  margin-bottom: 30px;
}
.content-container p,
.content-container ul,
.content-container ul li {
  margin-bottom: 20px;
}
main .about-para {
  width: 95%;
  margin: auto;
  padding: 20px 10px;
  background: lightgrey;
  border-radius: 5px;
}
main img {
  width: 100%;
  max-height: 100%;
  object-fit: contain;
  justify-self: center;
}
/*============responsive=============*/
@media only screen and (max-width: 768px) {
    .signature{
        margin-top: 20px;
    }
  .my-image {
    position: unset;
    width: 80%;
    margin: 20px 0;
  }
  .content-container{
      margin-bottom: 30px;
  }
  main {
    grid-template-columns: unset;
    grid-template-rows: unset;
    grid-template-areas:
      "signature"
      "myImage"
      "contentContainer";
    max-height: unset;
  }
}
